html {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

#welcome {
  color: #FFF;
  margin: auto auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

#chooseYourAdventurer {
  color: #FFF;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

#chosenCharacter {
  height: 200px;
  width: 200px;
  color: #FFF;
  text-align: center;
  border: 3px solid #FFF;
  display: block;
  margin: auto;
}

.center {
margin: auto;
}

.textInput {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px auto;
  width: 250px;
}

.button {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  /* margin: 50px 0 0 0; */
  width: 300px;
  /* margin: auto; */
  /* margin-top: 75px; */
  margin: 15px;
  cursor: pointer;
}

.characterPlaceholder {
  height: 200px;
  width: 200px;
  color: #FFF;
  float: left;
  border: 3px solid #FFF;
  margin-top: 20px;
}
