html {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

#welcome {
  color: #FFF;
  margin: auto auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
}

#chooseYourAdventurer {
  color: #FFF;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#chosenCharacter {
  height: 200px;
  width: 200px;
  color: #FFF;
  text-align: center;
  border: 3px solid #FFF;
  display: block;
  margin: auto;
}

.center {
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: center;
}

.textInput {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  width: 250px;
}

#welcomeButton {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
  margin-top: 75px;
  margin-bottom: 75px;
  cursor: pointer;
}

#welcomeButton:hover {
  color: #000;
  background-color: #FFF;
}

#chooseAdventureButton {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
  margin-top: 10px;
  cursor: pointer;
}

.chooseYourAvatarContainer {
  height: 250px;
  width: 200px;
  color: #FFF;
  /* float: left; */
  border: 3px solid #FFF;
  margin-top: 20px;
}

.chooseYourAvatarImg {
  height: 200px;
  width: 200px;
  color: #FFF;
  margin-top: 10px;
  float: left;
}

.chooseYourAvatarLabel {
  width: 200px;
  color: #FFF;
  float: left;
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
}

.itemGroupContainer {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.chooseYourItemContainer {
  height: 80px;
  width: 65px;
  color: #FFF;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 1px solid #FFF;
}

.chooseYourItemImg {
  height: 60px;
  width: 60px;
  color: #FFF;
  margin: auto;
  float: left;
}

.chooseYourItemLabel {
  color: #FFF;
  margin: auto;
  font-size: small;
}

.adventurePage {
  display: flex;
  flex-flow: row wrap;
}

.adventureMain {
  color: #FFF;
  width: 54%;
  height: 95vh;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}

.sidebarAvatar {
  width: 25%;
  height: 95vh;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
  border-right: solid #FFF;
}

.sidebarStats {
  text-align: left;
  margin-left: 15%;
  margin-right: 50px;
}

.adventureChoices {
  /* background-color: pink; */
  height: 70%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.choiceButton {
  color: #FFF;
  background-color: #000;
  border: 3px solid #FFF;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  /* margin: 50px 0 0 0; */
  width: 300px;
  /* margin: auto; */
  /* margin-top: 75px; */
  margin: 15px;
  cursor: pointer;
}

.choiceButton:hover {
  color: #000;
  background-color: #FFF;
}

#healthBar {
  background-color: red;
  height: 5px;
  margin-bottom: 30px;
}

#strengthBar {
  background-color: orange;
  height: 5px;
  margin-bottom: 30px;
}

#defenseBar {
  background-color: green;
  height: 5px;
  margin-bottom: 30px;
}

#luckBar {
  background-color: yellow;
  height: 5px;
  margin-bottom: 30px;
}

#welcomeHealth {
  border: solid red 3px;
}

#welcomeStrength {
  border: solid orange 3px;
}

#welcomeDefense {
  border: solid green 3px;
}

#welcomeLuck {
  border: solid yellow 3px;
}

#rightSidebar {
  width: 20%;
  height: 95vh;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
  border-left: solid #FFF;
}

.itemList {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.itemImg {
  /* background-color: green; */
  max-width: 30px;
  max-height: 30px;

  /* margin: auto 0; */
}

.text1 {
  display: block;
}

.text2 {
  display: none;
}